*.pyc
*.pth
*.pt
offline_utils/train_yolov8/search_network
*.bag
test_tools/scripts/live_rosbaging/rosbags/*
offline_utils/train_segmentation/wandb/*
.vscode
offline_utils/train_yolov8/runs
*.svg
offline_utils/train_yolov8/Platform*
*.csv
utilities/platform_dataset_raw/*
offline_utils/train_yolov8/Platform-3
offline_utils/train_yolov8/Platform-2
/offline_utils/train_yolov8/platform_detection
project_thesis_utils/platform_dataset_raw
